<form {{action 'createUser' on='submit'}}>

  <label for="username">Username*:</label>
  {{input id='username' placeholder='Enter Username' value=username}}

  <label for="password">Password*:</label>
  {{input id='password' placeholder='Enter Password' type='password' value=password}}

  <label for="cpassword">Confirmed password*:</label>
  {{input id='cpassword' placeholder='Enter Password Again' type='password' value=cpassword}}

  <label for="email">Email*:</label>
  {{input id='email' placeholder='Enter Email' value=email}}

  <label for="name">Name:</label>
  {{input id='name' placeholder='Enter Name' value=name}}

  <label for="age">Age:</label>
  {{input id='age' placeholder='Enter Age' value=age}}

  <button type="submit">Register</button>

  {{#if errorMessage}}
    <span class="error">{{errorMessage}}</span>
  {{/if}}

  {{#each model.errors.username as |error|}}
    <div class="error">
      {{error.message}}
    </div>
  {{/each}}

</form>
